<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<div class="container bootdey">
    <section class="col-md-13">
       <div class="row" style="float:right; position:relative ;" >
        
            <div class="card">
                <span class="glyphicon glyphicon-menu-left" routerLink="/login" style="padding-top:30px ; margin-bottom: -20px; margin-left: 30px;"></span>
                <p style="font-size: large; text-align: center; font-weight:600; padding-top: 50px; margin-bottom: -20px;">meet your driver </p>
                <div class="container mt-4">
                    
                
                  <div style="height: 50px;"></div>
                  
                  <div class="card-header">
                    <div class="card-header-headshot"></div>
                </div>
                <div class="card-content">
                    <div class="card-content-member"style=" width: 50%;">
                        <h4 class="m-t-0">Sami cheffai</h4>
                        <p class="m-0"><i class="pe-7s-map-marker"></i>Tunis</p>
                        <p><i class="material-icons" style="font-size:18px ;color:gold;position: absolute; ;margin-left: -25px; ">star</i>254 ratings</p>
                        
                    </div>
                   <div class="card-content" style="background-color:rgb(248, 246, 246);border-radius: 15px; width: 50%; text-align: center;">
                    <div class="info">
                        <i class='fa fa-car' style='font-size:20px;margin-left: -2px;'> </i>
                    </div>
                    <div class="info">
                        <strong>450</strong>
                        <p class="left" style="position: relative; ">rides shared</p>
                     </div>
                     <div class="info">
                        <i class="material-icons" style="font-size:20px">near_me</i>
                     </div>
                     <div class="info">   
                        <strong>2,457KM</strong>
                        <p class="right">Distance shared</p>
                    </div>
                        
                    </div>
                    </div>
                    <div class="card-content">
                    <div class="card-content-member" style="background-color:#fcc018;border-radius: 15px;position: relative; margin: 40px; width:40%;">
                         availability
                    </div>
                    </div>
                </div>
                <div class="card-footer">
                    <div class="card-footer-stats">
                        <div>
                            <p>Historique:</p><i class="fa fa-users"></i><span>241</span>
                        </div>
                        <div>
                            <p>MESSAGES:</p><i class="fa fa-coffee"></i><span>350</span>
                        </div>
                        <div>
                            <p>Last online</p><span class="stats-small">3 days ago</span>
                        </div>
                    </div>
                    
                </div>
            </div>
       
           <div class="evaluate">
        <div class="col-sm-12 col-md-8" style="position: absolute; padding-top: 80px;">
            <div class="input-group" >
                 <div style="margin-top: -50px; margin-left: 90px;">
                    <div class="form-row">
                    <label style="margin-right: 10px; margin-left: 15px;"> depature </label>
                     <input type="text" placeholder="search"  style=" margin-top:-10px ; width: 250px; margin-bottom: 50px; height:30px ;border-radius: 10px;">
                    </div>
                     <div class="form-row">
                     <label style="margin-right: 10px; "> destination </label>
                     <input type="text" placeholder="search"  style=" margin-top:-10px ; width: 250px;  margin-bottom: 50px; border-radius: 10px; height:30px">
                     <button type="button" style="background-color: #fcc018;color: black;border-radius: 10px;height: 30px; margin-left: 30px;border-color:transparent;">search</button>
                     
                    </div>
                    
                </div>
            <div class="review-block" style="float: left;">
                <div class="row" >
                    <div class="col-sm-3">
                        <div class="review-block-img">
                            <img src="assets/profil1.jpg" class="img-rounded" alt="">
                        </div>
                        <div class="review-block-name"><a href="#">hamza</a></div>
                        <div class="review-block-date">January 29, 2019<br></div>
                    </div>
                    <div class="col-sm-9" >
                        <div class="review-block-rate">
                            <button type="button" class="btn btn-success btn-xs" aria-label="Left Align">
                                <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                            </button>
                            <button type="button" class="btn btn-success btn-xs" aria-label="Left Align">
                                <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                            </button>
                            <button type="button" class="btn btn-success btn-xs" aria-label="Left Align">
                                <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                            </button>
                            <button type="button" class="btn btn-default btn-xs" aria-label="Left Align">
                                <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                            </button>
                            <button type="button" class="btn btn-default btn-xs" aria-label="Left Align">
                                <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                            </button>
                        </div>
                        <div class="review-block-title">yeser metrobi </div>
                        <div class="review-block-description">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type. </div>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-sm-3">
                        <div class="review-block-img">
                            <img src="assets/profil2.jpg" class="img-rounded" alt="">
                        </div>
                        <div class="review-block-name"><a href="#">Ghofrane</a></div>
                        <div class="review-block-date">august 16, 2020<br></div>
                    </div>
                    <div class="col-sm-9">
                        <div class="review-block-rate">
                            <button type="button" class="btn btn-success btn-xs" aria-label="Left Align">
                                <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                            </button>
                            <button type="button" class="btn btn-success btn-xs" aria-label="Left Align">
                                <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                            </button>
                            <button type="button" class="btn btn-success btn-xs" aria-label="Left Align">
                                <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                            </button>
                            <button type="button" class="btn btn-default btn-xs" aria-label="Left Align">
                                <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                            </button>
                            <button type="button" class="btn btn-default btn-xs" aria-label="Left Align">
                                <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                            </button>
                        </div>
                        <div class="review-block-title">merci beaucoup </div>
                        <div class="review-block-description">this was nice in buy. this was nice in buy. this was nice in buy. this was nice in buy this was nice in buy this was nice in buy this was nice in buy this was nice in buy</div>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-sm-3">
                        <div class="review-block-img">
                            <img src="assets/profil3.jpg" class="img-rounded" alt="">
                        </div>
                        <div class="review-block-name"><a href="#">nour</a></div>
                        <div class="review-block-date">Feruary 05, 2023<br></div>
                    </div>
                    <div class="col-sm-9">
                        <div class="review-block-rate">
                            <button type="button" class="btn btn-success btn-xs" aria-label="Left Align">
                                <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                            </button>
                            <button type="button" class="btn btn-success btn-xs" aria-label="Left Align">
                                <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                            </button>
                            <button type="button" class="btn btn-success btn-xs" aria-label="Left Align">
                                <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                            </button>
                            <button type="button" class="btn btn-default btn-xs" aria-label="Left Align">
                                <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                            </button>
                            <button type="button" class="btn btn-default btn-xs" aria-label="Left Align">
                                <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                            </button>
                        </div>
                        <div class="review-block-title">nice experience</div>
                        <div class="review-block-description">this was nice in buy. this was nice in buy. this was nice in buy. this was nice in buy this was nice in buy this was nice in buy this was nice in buy this was nice in buy</div>
                    </div>
                </div>
            </div>
        </div>
    </div></div></div>
    </section>
    </div> 
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>